.price-card {
  display: flex;
  flex-direction: column;
  gap: var(--salt-spacing-100);

  &__label {
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  &__value {
    display: flex;
    align-items: baseline;
    gap: var(--salt-spacing-25);
  }

  &__divider {
    margin: var(--salt-spacing-100) 0;
  }

  &__stats {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--salt-spacing-200);
  }
}
