.ticker-panel {
  display: flex;
  flex-direction: column;
  gap: var(--salt-spacing-200);
  background: var(--salt-color-white);
  border: 1px solid var(--salt-color-gray-100);
  border-radius: var(--salt-spacing-100);
  padding: var(--salt-spacing-300);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      margin: 0;
    }
  }

  &__grid {
    display: flex;
    flex-direction: column;
    gap: var(--salt-spacing-300);
  }
}
